alabaster==0.7.16
anyio==4.6.0
arrow==1.3.0
asgiref==3.8.1
asttokens==2.4.1
attrs==24.2.0
autobahn==24.4.2
Automat==24.8.1
babel==2.16.0
beautifulsoup4==4.12.3
bibtexparser==1.4.1
bleach==6.1.0
blinker==1.9.0
certifi==2024.8.30
cffi==1.17.1
channels==4.2.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
comm==0.2.0
constantly==23.10.4
cryptography==43.0.3
daphne==4.1.2
debugpy==1.8.0
decorator==5.1.1
defusedxml==0.7.1
Deprecated==1.2.14
distlib==0.3.9
Django==5.1.1
django-allauth==65.2.0
django-cleanup==9.0.0
django-htmx==1.21.0
docutils==0.20.1
et-xmlfile==1.1.0
executing==2.0.1
fake-useragent==1.5.1
fastjsonschema==2.20.0
filelock==3.16.1
Flask==3.1.0
free_proxy==1.1.2
gunicorn==23.0.0
h11==0.14.0
httpcore==1.0.5
httpx==0.27.2
hyperlink==21.0.0
idna==3.10
imagesize==1.4.1
incremental==24.7.2
ipykernel==6.27.1
ipython==8.18.1
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.6.0
jupyter_core==5.5.0
jupyterlab_pygments==0.3.0
lxml==5.3.0
MarkupSafe==2.1.5
matplotlib-inline==0.1.6
mistune==3.0.2
nbclient==0.10.0
nbconvert==7.16.4
nbformat==5.10.4
nest-asyncio==1.5.8
numpy==1.26.2
opencv-python==4.8.1.78
openpyxl==3.1.5
outcome==1.3.0.post0
packaging==23.2
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.3
pillow==11.0.0
platformdirs==4.1.0
prompt-toolkit==3.0.41
psutil==5.9.6
pure-eval==0.2.2
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
Pygments==2.17.2
pyOpenSSL==24.2.1
pyparsing==3.1.4
PySocks==1.7.1
python-dateutil==2.8.2
python-dotenv==1.0.1
pytz==2024.1
pywin32==306
pyzmq==25.1.2
referencing==0.35.1
requests==2.32.3
rpds-py==0.20.0
scholarly==1.7.11
selenium==4.25.0
service-identity==24.2.0
setuptools==75.6.0
shortuuid==1.0.13
six==1.16.0
sniffio==1.3.1
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.6
Sphinx==7.4.7
sphinx-rtd-theme==2.0.0
sphinxcontrib-applehelp==2.0.0
sphinxcontrib-devhelp==2.0.0
sphinxcontrib-htmlhelp==2.1.0
sphinxcontrib-jquery==4.1
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==2.0.0
sphinxcontrib-serializinghtml==2.0.0
sqlparse==0.5.1
stack-data==0.6.3
tinycss2==1.3.0
tornado==6.4
traitlets==5.14.0
trio==0.26.2
trio-websocket==0.11.1
Twisted==24.10.0
txaio==23.1.1
types-python-dateutil==2.9.0.20240906
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.3
virtualenv==20.27.1
wcwidth==0.2.12
webencodings==0.5.1
websocket-client==1.8.0
Werkzeug==3.1.3
whitenoise==6.8.2
wrapt==1.16.0
wsproto==1.2.0
zope.interface==7.1.1
